extends layout 

block content 

    h1= title 

    form(method='POST')
        div.form-group 
            label(for='participantName') Name: 
            input#participantName(type='text', placeholder='Name of participant', name='participantName', required)
        div.form-group 
            label(for='participantEmail') Email: 
            input#participantEmail(type='email', placeholder='Email of participant', name='participantEmail', required)
        div.form-group 
            label(for='participantPhone') participant:
            input#participantPhone(type='tel', placeholder='Phone of participant', name='participantPhone', required)

        button#submitparticipantForm(type='submit') Submit